@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');


:root{
    --font01: Verdana, Geneva, Tahoma, sans-serif;
    --font02:  'Passion One', cursive;
    --font03: 'Sriracha', cursive;
}

*{
    margin: 0px;
    padding: 0px;
}
html, body{
    min-height: 100vh;
    background-color: rgb(196, 192, 192);
    font-family: var(--font01);
    
}
header{
    background-color: black;
    color: white;
    text-align: center;
}

a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

a:hover{
    text-decoration: underline;
    color: yellow;
}

header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--font02);
    font-size: 3vw;
}
header > p{
    padding-bottom: 50px;
}

section.normal{
    background-color: white;
    color: black;

}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--font03);
    font-size: 1.9vw;
}

section.imagem{
    background-color: rgb(80, 76, 76);
    color: white;
    box-shadow: inset 6px 6px 13px rgba(0, 0, 0, 0.664);
    background-attachment: fixed;
}

section.imagem > p{
    background-color: rgba(0, 0, 0, 0.377);
    display: inline-block;
    padding: 5px;
    text-shadow: 1px 1px 0px black;
    
    
}

section > p{
    padding-bottom: 2em;
}

section#img01{
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
    background-size: cover;

}

section#img02{
    background-image: url('../imagens/background002.jpg');
    background-size: cover;
    background-position: right center;
    
}

footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}